// Handle resizing and paddings
body {
    --resizable-cover-art-minimum-size: 50px;
    &.resizable-cover-art-changed-size {
        --resizable-cover-art-calc-size: max(var(--resizable-cover-art-set-size, 264px), var(--resizable-cover-art-minimum-size));

        .main-coverSlotExpanded-enterActive,
        .main-coverSlotExpanded-container
        {
            width: var(--resizable-cover-art-calc-size);
        width: var(--resizable-cover-art-calc-size);
        }
        .main-view-container__scroll-node-child.main-view-container__scroll-node-child--is-floating-cover-art-expanded-with-ylx-sidebar {
            padding-bottom: calc(var(--resizable-cover-art-calc-size) + 8px);
        }
        body.resizable-cover-art-changed-size .main-yourLibraryX-libraryContainer.main-yourLibraryX-libraryIsExpanded.main-yourLibraryX-libraryIsCollapsed {
            padding-bottom: var(--resizable-cover-art-calc-size);
        }
    }
}

.main-coverSlotExpanded-container:has( > .resizable-cover-art-handle.resizable-cover-art-handle--is-resizing) {
    *:not(.resizable-cover-art-handle) {
        pointer-events: none;
    }
}

.resizable-cover-art-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: auto;

    &:hover, &.resizable-cover-art-handle--is-resizing {
        background: linear-gradient(45deg, transparent 50%, white 50% calc(50% + 1px), transparent calc(50% + 1px) 75%, white 75% calc(75% + 1px), transparent calc(75% + 1px));
    }

    &.resizable-cover-art-handle--not-shown {
        display: none;
    }

    &.resizable-cover-art-handle--top-left {
        top: 0;
        left: 0;
        cursor: n-resize;
    }

    &.resizable-cover-art-handle--top-right {
        top: 0;
        right: 0;
        cursor: ne-resize;
    }

    &.resizable-cover-art-handle--bottom-left {
        bottom: 0;
        left: 0;
        cursor: sw-resize;
    }

    &.resizable-cover-art-handle--bottom-right {
        bottom: 0;
        right: 0;
        cursor: se-resize;
    }
}