@keyframes previewify-modal-popup {
    from {
        filter: opacity(0);
        transform: translateY(10px);
    }
    to {
        filter: opacity(1);
        transform: translateY(0);
    }
}

.previewify-modal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    animation: previewify-modal-popup 0.3s ease-in-out !important;
    width: 300px;
    height: 100px;
    --previewify-modal-bg: var(--spice-card);
    background-color: var(--previewify-modal-bg);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--spice-shadow);
}

.previewify-modal__container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "cover title"
        "cover authors"
        "cover controls" ;
    gap: 5px;
    margin: 5px;
}

.previewify-modal__image {
    grid-area: cover;
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    min-width: 0;
    min-height: 0;
}

.previewify-modal__title {
    grid-area: title;
}

.previewify-modal__authors {
    grid-area: authors;
}

.previewify-modal__controls {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}